@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");


* {
    box-sizing: border-box;
    font-family: Raleway;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: black;
}

.nav-responsive{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background:rgb(26, 151, 253);
    padding: 0.9rem 0rem;
}

.logo {
    height: 5rem;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-search{
    width: 50vw;
    margin: 0 auto;
    position: relative;
}
#search {
    width: 250px;
    outline: none;
    color: rgb(49, 49, 49);
    font-size: 1.3rem;
    padding: 0.2rem 2rem 0.2rem 1rem;
    border-radius: 1rem;
    border: none;
    margin: auto;
}
#find {
    position: absolute;
    font-size: 1.3rem;
    top: 0.3rem;
    right: 3.5rem;
    color: rgb(255 208 79);
    background: transparent;
}

.nav-fa{
    color: rgb(255, 206, 72);
    font-size: 20px;
    padding:0 10px;
    font-size: 30px;
    font-weight: 900;
}

.main-nav {
    text-align: left;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(71, 71, 71, 0.329);
    padding: 0 5%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav a {
    margin: 5px;
    display: inline-block;
    padding: 5px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 5px solid rgb(147 100 0);
    background-color: rgb(198 145 55);
    border-radius: 15px;
    justify-content: space-between;
}

.nav a:hover {
    background-color: rgb(10, 10, 10);
}


.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

#notification{
    position: relative;
    top: -5px;
}
#cart{
    position: relative;
    top: -5px;
}
#bars{
    padding:0 10px;
    font-size: 30px;
    margin-right: 1rem;
}
#account{
    display: none;
    margin-right: 1rem;
}
#account i{
    font-size: 30px;
}

.band-name {
    text-align: center;
    margin: auto;
    font-size: 3em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.fa, .fab, .fad, .fal, .far, .fas {
    margin-left: auto;
    font-size: 30px;
}

.fa {
    display: inline-block;
    font: normal normal normal 30px/1 FontAwesome;
    font-size: 50px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section-header5{
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: white;
    background: linear-gradient( -135deg, #9dcfff, rgb(20, 100, 182));
    box-shadow: 0 0 10px 1px;
    border-radius: 20px;
    padding: 12px;
    margin-top: 100px;
    width: 100%;
  }

.section-header {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: white;
    background: linear-gradient( -135deg, #9dcfff, rgb(20, 100, 182));
    box-shadow: 0 0 10px 1px;
    border-radius: 20px;
    padding: 12px;
    margin: center;
    width: 100%;
  }

  .section-header5:hover,
  .section-header:hover {
    background-color: #410101;
    box-shadow: 0 2px 0 #720101;
    box-shadow: 0 6px 0 rgb(14, 26, 24);
    background: linear-gradient(-135deg, rgb(20, 100, 182), #9dcfff);
  }
   
.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #5f3600;
    color: white;
    padding: .25em 0;
    max-width: 100%;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: rgb(167, 1, 1);
    border: none;
    border-radius: .3em;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.btn-primary:hover {
	background-color: #410101;
	box-shadow: 0 2px 0 #720101;
	box-shadow: 0 6px 0 rgb(14, 26, 24);
	background: linear-gradient(-135deg, #c50c0c, #c50c0c);
  }

  .shop-item {
    margin: 30px;
    width: 300px;
    background-color: rgb(255, 230, 185);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    border-radius: 15px;
}

.shop-item-title {
    display: block;
    width: auto;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(70, 70, 70);
}

.shop-item-image {
    height: 340px;
    display: grid;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: stretch;
    align-items: baseline;
    align-content: space-between;
    margin: auto;
    padding-top: 10px;
}

.shop-item-details {
    display: block;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    display: none;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formulario__input {
    display: block;
    color: #111111;
    width: 500px;
    font-size: 2.5em;
    height: 75px;
    border: 1px solid #494949;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-left: auto;
    background-color: rgb(255, 218, 169);
    margin-right: auto;
    box-shadow: 0 2px 0 black;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  
    /*border: 1px solid rgba(109, 86, 10, 0.7);*/
  }
  .formulario__input:hover {
    background-color: white;
    border-radius: 20px;
    padding: 5pt;
    color: #000;
  }

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    font-size: 20px
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
    display: none;
}

.cart-quantity {
    width: 35%;
    font-size: 20px
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid #f2c156;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    display: none;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
    display: none;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    color: white;
	background-color: rgb(167, 1, 1);
	border: none;
    padding: 10px;
	border-radius: 0.3em;
	font-size: 18px;
	width: 150px;
	border-radius: 10px;
}
    
.formulario__submit {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
    border: 2px solid #720101;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #af0b0b;
    color: #f5f6fa;
    border-radius: 8px;
    position: relative;
    padding: 10px;
  }
  
  .formulario__submit:hover {
    background-color: #410101;
    box-shadow: 0 2px 0 #720101;
    box-shadow: 0 6px 0 rgb(14, 26, 24);
    background: linear-gradient(-135deg, #c50c0c, #c50c0c);
  }
  
#respuesta.fail {
    color: red;
  }
  
  #respuesta.send {
    color: rgb(0, 47, 255);
    background-color: rgba(128, 252, 138, 0.959);
    background-color: rgb(252 236 9 / 45%);
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
  }





.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    font-size: 30px;
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li{
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child{
    border-bottom: none;
}
.site-nav a{
    color: #ebedb3;

    text-transform: uppercase;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
    background: #e4b363;
    color: #464655;
}

.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle{
   
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    
}
.menu-open .hamburger{
    transform: rotate(45deg);
}
.menu-open .hamburger::before{
    opacity: 0;
}
.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(3px);
}

@media (min-width:700px){
  .menu-toggle{
      display: none;
  } 
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      clip-path: initial;
  } 
  .site-nav li{
      display: inline-block;
      border: none;
  }

  .site-nav a{
      padding: 0;
      margin-left: 2em;
      margin-right: 2em;
  }
  .site-nav--icon{
      display: none;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }

}
















@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");


.mycart-button {
	font-family: "poppins", sans-serif;
	font-size: 14px;
	position: relative;
	padding: 10px;
	width: 250px;
	height: 60px;
	background-color: #4834d4;
	border: 0;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	outline: none;
	overflow: hidden;
	transition: .3s ease-in-out;
}

.mycart-button:hover {
	background-color: #35269b;
}

.mycart-button:active {
	transform: scale(.9);
}

.mycart-button .bxs-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -10%;
	font-size: 2em;
	transform: translate(-50%, -50%);
}

.mycart-button .bxl-bitcoin {
	position: absolute;
	z-index: 3;
	top: -20%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%, -50%);
}

.mycart-button span {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%, -50%);
}

.mycart-button span.add-to-cart {
	opacity: 1;
}

.mycart-button span.added {
	opacity: 0;
}

.mycart-button.clicked .bxs-cart {
	animation: cart 1.5s ease-in-out forwards;
}

.mycart-button.clicked .bxl-bitcoin {
	animation: box 1.5s ease-in-out forwards;
}

.mycart-button.clicked span.add-to-cart {
	animation: text1 1.5s ease-in-out forwards;
}

.mycart-button.clicked span.added {
	animation: text2 1.5s ease-in-out forwards;
}

@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 110%;
	}
}

@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 40%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 112%;
	}
}

@keyframes text1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}

@keyframes text2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
